

<div class=".vedapic">
	<div class="flip-container" style="float:left;margin-left:5px;"  ng-mouseover="toggle()" ng-click="name()">
		<!--front side of card in which course details are given-->
		<div class="flipper">
			<div class="front">
				<!-- front content -->
				<img style="width:140px;height:140px;margin-top:5px;margin-left:5px" ng-src="Images/{{pic.picture}}">
			</div>

			<!-- back content of card which are details of total tests taken by him -->
			<div class="back" style="text-align:center">
					<p >{{pic.Alphabet}}</p>
			</div>
		</div>
	</div>
</div>
